<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple Crm</title>
</head>
<body>

<h1>Contact List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Salutation</th>
        <th>Contact Name</th>
        <th>Contact Surname</th>
        <th>E-mail</th>
        <th>Customer</th>
    </tr>
    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.id}">123</td>
        <td th:text="${contact.salutation}">Mr</td>
        <td th:text="${contact.contactName}">XYX</td>
        <td th:text="${contact.contactSurname}">ABC</td>
        <td th:text="${contact.email}">ABC</td>
        <td th:text="${contact.customer}">ABC SHipping</td>
    </tr>

</table>

</body>
</html>