<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple Crm</title>
</head>
<body>

<h1>Customer List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Customer Name</th>
        <th>Origin Country</th>
        <th>Origin City</th>
        <th>E-mail</th>
        <th>Web</th>
    </tr>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}">123</td>
        <td th:text="${customer.customerName}">ABC</td>
        <td th:text="${customer.originCountry}">Turkey</td>
        <td th:text="${customer.originCity}">Istanbul</td>
        <td th:text="${customer.email}">ABC@example.com</td>
        <td th:text="${customer.web}">www.example.com</td>
    </tr>

</table>
</body>
</html>